.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.maze {
  border: 3px solid black;
  background-color: #232323;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end {
  background-image: url(/src/images/door.png);
  background-size: contain;
  font-size: 0.1em;
}

.empty {
  background-image: url(/src/images/stone-road.jpg);
  background-size: contain;
}

.wall {
  background-image: url(/src/images/brick-wall.png);
  background-size: contain;
}

.player {
  width: 20px;
  height: 20px;
  background-image: url(/src/images/player.png);
  background-size: contain;
  position: absolute;
  transition: transform 0.5s ease;
}

.record {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
}

p{
  color: #c9c93e;
}

.record p{
  padding-bottom: 5px;
}

.contPrinc {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.controlsBlock {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.controlsBlock p{
  margin-bottom: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

span {
  user-select: none;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 7px 7px;
  margin: 4px 2px;
  border-radius: 5px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25) 0 0 0 2px rgba(0, 0, 0, 0.75),
    5px 10px 12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

span::after {
  background: linear-gradient(90deg, #585858, #b1b0b0);
}

span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 7px;
  right: 6px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 5px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

span i {
  font-size: 0.7em;
  position: relative;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
}

span:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

.score {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 430px) {
  .cell {
    width: 15px;
    height: 15px;
  }
  .contPrinc{
    flex-direction: column;
  }
  .controls{
    margin-top: 20px;
  }
}
