.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.maze {
  border: 3px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  background-color: #ffff00;
}

.end {
  background-color: #ff0000;
}

.empty {
  background-image: url(/src/images/stone-road.jpg);
  background-size: contain;
  
}

.wall {
  background-image: url(/src/images/brick-wall.png);
  background-size: contain;
  
}

.player {
  width: 10px;
  height: 10px;
  background-color: #00ff00;
  border-radius: 50%;
  position: absolute;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

span {
  user-select: none;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 8px 15px;
  margin: 8px 4px;
  border-radius: 10px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
  inset 0 -8px 8px rgba(0, 0, 0, 0.25)
  0 0 0 2px rgba(0, 0, 0, 0.75),
  10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

span::after{
  background: linear-gradient(90deg, #585858, #b1b0b0);
}

span::before{
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
  10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

span i {
  font-size: 1.2em;
  position: relative;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
}

span:hover {
  background-color: #3e8e41;
  cursor: pointer;
}

.score {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}